@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  text-align: center;
  background-color: rgb(133, 148, 235);
  font-family: "Rubik", sans-serif;
}

.header{
color: aquamarine;
font-weight: 900;
}

.form1 {
  background-color: crimson;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 3%;
}

#todo-form input {
  color: aliceblue;
  background-color: rgb(94, 84, 84);
  border: 0;
  width: 200px;
  height: 30px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
}

#todo-form input::placeholder {
  color: aquamarine;
}

#todo-form input:focus, #todo-form button:focus {
  outline: none;
}

#submit-btn {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 0;
  background-color: bisque;
  cursor: pointer;
}

#submit-btn:hover{
  background-color: burlywood;
}


/* LISTITEMS */

.list {
  text-align: left;
  color:white;
  width: 300px;
  background-color: rgb(71, 9, 22);
  height: 50px;
  margin: 20px auto;
  border-radius: 6px;

}

.list p {
  padding: 10px;
  position: relative;
}

.list p span {
  position: absolute;
  right:10px;
  margin: 3px 5px;
cursor: pointer;
}

.list p input{
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 18px;
}

.list p input:focus{
  outline: none;
}